body
{
    font-family: 'segoe ui light';
}
.item
{
    margin-bottom: 30px;
    cursor: pointer;
}

.img-caption
{
    background-color: #fff;
    width: 80%;
    bottom: 30px;
    left: 10%;
    padding: 10px;
}

#lightBoxContainer
{
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.54);
}

#lightBoxItem
{
    width: 50%;
    height: 500px;
    background-size: cover;
}

#close
{
    position: absolute;
    top: 20px;
    right: 20px;
}

#lightBoxItem i 
{
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
}